<div class="col-md-2">
    <div id="my_menuMain" class="collapse navbar-collapse dropdown-menu-left col-md-2 navmenu-fixed-left">
        <div id="left-menu" class="btn-group btn-group-vertical">
            <button ng-class="getClass('/home')" ng-click="home()" value="go" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-home"></i> About NetCracker</button>
            <button ng-class="getClass('/educationNC')" ng-click="educationnc()" value="go" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-user"></i> Educational Center</button>
            <button ng-class="getClass('/getToCourses')" ng-click="gettocoursesnc()" value="go" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-calendar"></i> Get to the courses</button>
        </div>
    </div>
</div>