<div app-header></div>
<div app-menu-admin></div>

<div id="main-block" class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3">
    <div class="col-md-12 col-sm-12 left-info-col">
        <div>
            <div class="row">
                <div class="col-md-2"><h6><i>Approved to work: {{approvedToWork}}</i></h6></div>
                <div class="col-md-2"><h6><i>Approved to advanced: {{approvedToAdvanced}}</i></h6></div>
                <div class="col-md-2"><h6><i>Approved to general: {{approvedToGeneral}}</i></h6></div>
                <div class="col-md-2"><h6><i>Rejected: {{rejected}}</i></h6></div>
                <label>Search:<input ng-model="searchText"></label>
            </div>
            <div class="col-md-5">
                <tr ng-repeat="student in allStudents">
                <button type="button" class="btn btn-info btn-sm search-element">Confirm selection</button>
                <button type="button" class="btn btn-info btn-sm search-element" disabled>Announce results</button>
            </tr>
            </div>

            <form class="form-search inline-display col-md-2 col-md-offset-5">
                <button class="btn btn-sm btn-info search-element" type="button" data-toggle="modal"
                        data-target="#filtration">
                    Filter table
                </button>
            </form>
            <table class="table table-hover" id="students_table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>University</th>
                    <th>Course</th>
                </tr>

                <tr ng-repeat="student in allStudents | filter:searchText ">
                    <td>{{student.id}}</td>
                    <td>{{student.firstName +" "+ student.lastName}}</td>
                    <td><select>
                        <option selected>{{status.title}}</option>
                        <option ng-repeat="status in statuses">{{status.title}}</option>
                    </select>
                    </td>
                    <td>{{university}}</td>
                    <td>{{course}}</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="filtration" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Filtration parameters</h4>

                <div>
                    <table class="table">
                        <tr>
                            <th>
                                Application form field
                            </th>
                            <th>
                                Restrictions
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Status
                            </td>
                            <td>
                                <input type="checkbox" name="status" value="1">to job
                                <input type="checkbox" name="status" value="2">to general course
                                <input type="checkbox" name="status" value="3">to advanced course
                                <input type="checkbox" name="status" value="4">rejected
                            </td>
                        </tr>
                        <tr>
                            <td>
                                University
                            </td>
                            <td>
                                <input type="checkbox" name="iniv" value="1">KPI
                                <input type="checkbox" name="iniv" value="2">KNU
                                <input type="checkbox" name="iniv" value="3">NAU
                                <input type="checkbox" name="iniv" value="4">other
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Course
                            </td>
                            <td>
                                <input type="checkbox" name="course" value="1">1
                                <input type="checkbox" name="course" value="2">2
                                <input type="checkbox" name="course" value="3">3
                                <input type="checkbox" name="course" value="4">4
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" type="button" data-dismiss="modal">Filter</button>
            </div>
        </div>
    </div>
</div>
<div app-footer></div>