<div app-header></div>
<div app-second-header></div>
<div app-menu-main></div>
<div id="main-blockAuth" class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3">
    <div class="col-md-12 col-sm-12 left-info-col">
        <div class="info-text" ng-show="emailSend">
            <p>Dear {{username}}, on your email - {{email}} address  has been sent confirm token. Please, confirm your email.</p>
        </div>
        <div ng-show="!emailSend">
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <form name="registrationForm" role="form">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Registration</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 login-box">

                                    <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-user"></span></span>
                                        <input ng-model="firstName" name="firstName" type="text" class="form-control" ng-maxlength="15"
                                               ng-minlength="2" ng-pattern="/^\w+$/" placeholder="First name" required autofocus/>

                                        <!--<div ng-messages="registrationForm.firstName.$error">
                                            <div ng-message="maxlength">Password must not exceed 77 characters</div>
                                            <div ng-message="minlength">Password must be over 1 characters</div>
                                        </div>-->
                                    </div>
                                <span ng-show="registrationForm.firstName.$error.required" class="text-danger">The field can not be empty.</span>
                                <span ng-show="registrationForm.firstName.$error.minlength" class="text-danger">Must be at least 2 characters.</span>
                                <span ng-show="registrationForm.firstName.$error.maxlength" class="text-danger">Password should be no more than 15 characters.</span>
                                <span ng-show="registrationForm.firstName.$error.pattern" class="text-danger">Can contain only numbers, letters and underscore(_).</span>
                                    <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-user"></span></span>
                                        <input ng-model="secondName" type="text" name="secondName" class="form-control" ng-maxlength="15"
                                               ng-minlength="2" ng-pattern="/^\w+$/" placeholder="Second name" required autofocus/>

                                        <!--<div ng-messages="registrationForm.secondName.$error">
                                            <div ng-message="maxlength">Password must not exceed 77 characters</div>
                                            <div ng-message="minlength">Password must be over 1 characters</div>
                                        </div>-->
                                    </div>
                                <span ng-show="registrationForm.secondName.$error.required" class="text-danger">The field can not be empty.</span>
                                <span ng-show="registrationForm.secondName.$error.minlength" class="text-danger">Must be at least 2 characters.</span>
                                <span ng-show="registrationForm.secondName.$error.maxlength" class="text-danger">Password should be no more than 15 characters.</span>
                                <span ng-show="registrationForm.secondName.$error.pattern" class="text-danger">Can contain only numbers, letters and underscore(_).</span>
                                    <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-user"></span></span>
                                        <input ng-model="lastName" name="lastName" type="text" class="form-control" ng-maxlength="15" ng-minlength="2" ng-pattern="/^\w+$/"
                                               placeholder="Last name" required autofocus/>

                                        <!--<div ng-messages="registrationForm.lastName.$error">
                                            <div ng-message="maxlength">Password must not exceed 77 characters</div>
                                            <div ng-message="minlength">Password must be over 1 characters</div>
                                        </div>-->
                                    </div>
                                <span ng-show="registrationForm.lastName.$error.required" class="text-danger">The field can not be empty.</span>
                                <span ng-show="registrationForm.lastName.$error.minlength" class="text-danger">Must be at least 2 characters.</span>
                                <span ng-show="registrationForm.lastName.$error.maxlength" class="text-danger">Password should be no more than 15 characters.</span>
                                <span ng-show="registrationForm.lastName.$error.pattern" class="text-danger">Can contain only numbers, letters and underscore(_).</span>
                                    <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-envelope"></span></span>
                                        <input ng-model="email" type="email" name="userEmail" class="form-control"
                                               ng-pattern="/^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$/" placeholder="Email" required
                                               autofocus/>

                                    </div>
                                <span ng-show="registrationForm.userEmail.$error.required" class="text-danger">The field can not be empty.</span>
                                <span ng-show="registrationForm.userEmail.$error.pattern" class="text-danger">Invalid email.</span>
                                    <!--<div ng-messages="registrationForm.userEmail.$error">
                                        <div ng-message="email">Your email address is invalid</div>
                                    </div>-->
                                    <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-lock"></span></span>
                                        <input ng-model="password" type="password"  name="password"  ng-maxlength="16" ng-minlength="4" class="form-control" ng-pattern="/^\w+$/"
                                               placeholder="Password" required/>

                                        <!--<div ng-messages="registrationForm.password.$error">
                                            <div ng-message="maxlength">Password must not exceed 16 characters</div>
                                            <div ng-message="minlength">Password must be over 4 characters</div>
                                        </div>-->
                                    </div>
                                <span ng-show="registrationForm.password.$error.required" class="text-danger">The field can not be empty.</span>
                                <span ng-show="registrationForm.password.$error.minlength" class="text-danger">Must be at least 4 characters.</span>
                                <span ng-show="registrationForm.password.$error.maxlength" class="text-danger">Password should be no more than 16 characters.</span>
                                <span ng-show="registrationForm.password.$error.pattern" class="text-danger">Can contain only numbers and letters.</span>
                                    <p>
                                    <div ng-show="userExist">
                                    <p class="alert-danger">User with this email already exist</p>

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <button type="button" class="btn btn-labeled btn-info" value="go"
                                        ng-click="registerStudent()" ng-disabled="registrationForm.$invalid">
                                    <span class="btn-label"><i class="glyphicon glyphicon-ok" ></i></span>Register
                                </button>
                            </div>
                        </div>
                    </div>
                </div></form>
            </div>
        </div>
    </div>
</div>