<div app-header></div>
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Main page</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/jasny-bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/client.css">
</head>

<div id="includedHeader"></div>
<div id="leftNavStudent"></div>
<div id="main-block" class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3">
    <div class="col-md-12 col-sm-12 left-info-col">
    <p ng-class="{'text-danger' : resultMessage.type == 'ERROR', 'text-success' : resultMessage.type == 'SUCCESS', 'text-info' : resultMessage.type == 'INFO'}">{{resultMessage.message}}</p>
        <div ng-if="schedule.priorityTypes != null">
            <h4>Choose appropriate variant for each date.</h4>

            <form>
                <div class="row" ng-repeat="timePoint in schedule.timePoints">
                    <div class="col-md-3 day-point">
                        <h5>{{timePoint.timePoint}}</h5>
                        <div ng-repeat="priorityType in schedule.priorityTypes">
							<input type="radio" ng-model="timePoint.priority" ng-value="priorityType.type">{{priorityType.type}}</input>
						</div>
                    </div>
                </div>
                <button ng-click="update()" type="submit" class="btn btn-info search-element btn-left">Confirm</button>
            </form>
        </div>
        <div ng-if="schedule.finalTimePoint != null">
            <h4>Congratulations!</h4>
            <h4>You are invited to interviews with specialists of the company.</h4>
            <h4>Your interviews date: <b>{{schedule.finalTimePoint}}</b></h4>
            <h4><b>Do not forget your id specified in the Application Form, you will need to show it your
                interviewers.</b></h4>
            <h4>See you there!</h4>
		</div>
    </div>
</div>
<div app-footer></div>