<div app-header></div>
<div app-staff-menu></div>
<div id="main-block" class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3">
    <div class="col-md-12 col-sm-12 left-info-col">
        <div>
            <div class="row">
                <div class="col-md-2">
                    <h4>Nikolai Gogol</h4>
                </div>
            </div>

            <h4>Indicator of relevant: (“Relevant”/“Not relevant”/“Hard to answer”)</h4>

            <ul ng-init="tab = 1;showAppForm()" class="nav nav-tabs">
                <li ng-class="{active:tab===1}" class="dropdown active">
                    <a  data-toggle="dropdown" class="dropdown-toggle"  href ng-click="tab = 1">
                        Application Form
                        <b class="caret"></b>
                    </a>
                </li>
                <li ng-class="{active:tab===2}" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href ng-click="tab = 2; showInterview()" >
                        Soft Form
                        <b class="caret"></b>
                    </a>
                </li>
                <li  ng-class="{active:tab===3}" class="dropdown" >
                    <a data-toggle="dropdown" class="dropdown-toggle" href ng-click="tab = 3">
                        Tech Form
                        <b class="caret"></b>
                    </a>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="">
                        Last Forms (if they exists)
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="tab" href="applic-form1">2013</a></li>
                        <li><a data-toggle="tab" href="">2014</a></li>
                        <li><a data-toggle="tab" href="">2015</a></li>
                    </ul>
                </li>

            </ul>
            <div  class="tab-content">
                <div ng-show="tab === 1"  class="tab-pane fade in active">
                    <table class="table table-hover table-condensed">
                        <tr class="text-success">
                            <td>Status</td>
                            <td>{{appForm.status}}</td>
                        </tr>
                        <tr class="text-success">
                            <td>ID</td>
                            <td ng-model="id">{{id}}</td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>{{appForm.user.lastName}}</td>
                        </tr>
                        <tr>
                            <td>Firs name</td>
                            <td>{{appForm.user.firstName}}</td>
                        </tr>
                        <tr>
                            <td>Second name</td>
                            <td>{{appForm.user.secondName}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{appForm.user.email}}</td>
                        </tr>
                        <tr ng-repeat="question in appForm.questions">
                            <td > {{question.questionTitle}}</td>
                            <td ng-if="question.questionType == 'input' || question.questionType == 'textarea' ||
                            question.questionType == 'radio' || question.questionType == 'select'"  ng-repeat="answer in question.answers">
                                {{answer.answer}}
                            </td>
                            <td ng-if="question.questionType == 'checkbox'" >
                                <p ng-repeat="variant in question.variants">
                                    {{variant.variant}}<span ng-if="exists(variant.variant, question.answers)" class="glyphicon glyphicon-ok"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-sm btn-info search-element col-md-2 btn-left">Export</button>
                    <button type="submit" class="btn btn-sm btn-info search-element col-md-2 btn-left">Back</button>
                </div>
                <div ng-show="tab === 2"  class="tab-pane fade in active">
                    <table class="table table-hover table-condensed">
                        <tr>
                            <td>Soft skills grade</td>
                            <td><i>3</i></td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td><i>yes</i></td>
                        </tr>
                        <tr>
                            <td>Soft skills comment</td>
                            <td><i>he is my friend</i></td>
                        </tr>
                        <tr>
                            <td>Knowledge in telecommunication</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Knowledge in software engineering methodologies</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Personal qualities, motivation</td>
                            <td><i>self-confident</i></td>
                        </tr>
                        <tr>
                            <td>The maturity of interest</td>
                            <td><i>mature</i></td>
                        </tr>
                        <tr>
                            <td>Loyalty</td>
                            <td><i>exactly our people</i></td>
                        </tr>
                        <tr>
                            <td>Whether submitted skills level corresponds with the one shown in the interview</td>
                            <td><i>yes</i></td>
                        </tr>
                        <tr>
                            <td>Specialization</td>
                            <td><i>development</i></td>
                        </tr>
                        <tr>
                            <td>English</td>
                            <td><i>5</i></td>
                        </tr>
                    </table>
                </div>
                <div ng-show="tab === 3"  class="tab-pane fade in active">
                    <table class="table table-hover table-condensed">
                        <tr>
                            <td>Tech skills grade</td>
                            <td><i>3</i></td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td><i>yes</i></td>
                        </tr>
                        <tr>
                            <td>Tech skills comment</td>
                            <td><i>he is my friend</i></td>
                        </tr>
                        <tr>
                            <td>Java practice</td>
                            <td><i>1</i></td>
                        </tr>
                        <tr>
                            <td>SQL practice</td>
                            <td><i>1</i></td>
                        </tr>
                        <tr>
                            <td>Java theory</td>
                            <td><i>4</i></td>
                        </tr>
                        <tr>
                            <td>SQL theory</td>
                            <td><i>4</i></td>
                        </tr>
                        <tr>
                            <td>General knowledge</td>
                            <td><i>5</i></td>
                        </tr>
                        <tr>
                            <td>Personal qualities, motivation</td>
                            <td><i>naive</i></td>
                        </tr>
                        <tr>
                            <td>Whether submitted skills level corresponds with the one shown in the interview</td>
                            <td><i>yes</i></td>
                        </tr>
                        <tr>
                            <td>Specialization</td>
                            <td><i>development</i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div app-footer></div>