<div app-header></div>
<div app-staff-menu></div>
<div id="main-block"
	class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3">
	<div class="col-md-12 col-sm-12 left-info-col">
		<div>
			<button class="btn btn-sm btn-info search-element col-md-2"
				type="button" data-toggle="modal" data-target="#assignNew">
				Assign new student</button>
			<p
				ng-class="{'text-danger' : resultMessage.type == 'ERROR', 'text-success' : resultMessage.type == 'SUCCESS','text-warning' : resultMessage.type == 'WARNING',}">{{resultMessage.message}}</p>
			<table id="students_table" class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Photo</th>
						<th>Last Name</th>
						<th>First Name</th>
						<th>Second Name</th>
						<th>Deassign</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="student in assignedStudents">
						<td>
							<a href="http://localhost:8085/frontend/index.html#/staff/appformstudent/{{student.id}}">{{student.id}}</a></td>
						<td><img ng-src="/photo/{{student.photoScope}}"></td>
						<td>{{student.lastName}}</td>
						<td>{{student.firstName}}</td>
						<td>{{student.secondName}}</td>
						<td>
						<div ng-repeat="interview in student.interviews">
						<button class="btn btn-sm btn-info"	ng-click="deassignApplicationForm(interview.id)" type="button">Deassign as {{roleNames[interview.role - 1]}}</button>
								</div>
								</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- footer -->
<div id="footer"></div>

<div id="assignNew" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<h4 class="modal-title">Assign new student</h4>
				<div>
					<form class="navbar-form navbar-left" role="search">
						<p>Enter application's form id:</p>
						<input ng-model-options="{ debounce: 1000 }" id="candidateName"
							ng-model="newFormId" ng-change="searchApplicationForm(newFormId)">
					</form>
					{{search.resultMessage.message}}
					<table id="founded_students" class="table table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Last Name</th>
								<th>First Name</th>
								<th>Second Name</th>
								<th>Assign as</th>
								<th>Assign</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="foundStudent.id != null">
								<td>{{$parent.foundStudent.id}}</td>
								<td>{{$parent.foundStudent.lastName}}</td>
								<td>{{$parent.foundStudent.firstName}}</td>
								<td>{{$parent.foundStudent.secondName}}</td>
								<td>
								<div ng-repeat="interview in $parent.foundStudent.interviews">
									<input type="checkbox" ng-checked="assigning.roles.indexOf(interview.role) > -1"
									ng-click="chooseRoleForAssign(interview.role)"> {{roleNames[interview.role - 1]}}
								</div>
								</td>
								<td>
									<button class="btn btn-sm btn-info"
										ng-click="assignApplicationForm($parent.foundStudent)"
										type="button">Assign</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="filtration" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<h4 class="modal-title">Filtration parameters</h4>

				<div>
					<table class="table">
						<tr>
							<th>Application form field</th>
							<th>Restrictions</th>
						</tr>
						<tr>
							<td>Status</td>
							<td><input type="checkbox" name="status" value="1">to
								job <input type="checkbox" name="status" value="2">to
								general course <input type="checkbox" name="status" value="3">to
								advanced course <input type="checkbox" name="status" value="4">rejected
							</td>
						</tr>
						<tr>
							<td>University</td>
							<td><input type="checkbox" name="iniv" value="1">KPI
								<input type="checkbox" name="iniv" value="2">KNU <input
								type="checkbox" name="iniv" value="3">NAU <input
								type="checkbox" name="iniv" value="4">other</td>
						</tr>
						<tr>
							<td>Course</td>
							<td><input type="checkbox" name="course" value="1">1
								<input type="checkbox" name="course" value="2">2 <input
								type="checkbox" name="course" value="3">3 <input
								type="checkbox" name="course" value="4">4</td>
						</tr>
						<tr>
							<td>etc</td>
							<td>etc</td>
						</tr>

					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-info" type="button" data-dismiss="modal">Filter</button>
			</div>
		</div>
	</div>
</div>
<div app-footer></div>