<div class="col-md-2">
    <div id="my_menu" class="collapse navbar-collapse dropdown-menu-left col-md-2 navmenu-fixed-left">
        <div id="left-menu" class="btn-group btn-group-vertical">
            <a ng-click="main()" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-home"></i> Main</a>
            <a ng-click="studentManagement()" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-user"></i> Student management</a>
            <a ng-click="scheduling()" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-calendar"></i> Schedule</a>
            <a ng-click="personal()" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-cog"></i> Settings</a>
        </div>
    </div>
</div>