<div class="container-fluid no-padding">
    <div id="main-header" class="navbar navbar-header col-md-12 navbar-fixed-top">
        <div class="col-md-2 col-sm-2">
            <a id="navbar-text" class="navbar-brand middle-align" href="/">NetCracker</a>
        </div>
        <ul class="nav navbar-nav navbar-right right-align small-menu">
            <li ng-show="!authenticated" class="col-md-6 no-padding"><span class="glyphicon glyphicon-user top-button hello visible-lg "> Hi,Friend!</span></li>
            <li ng-show="!authenticated" class="col-md-4 no-padding">
                <button class="btn btn-primary top-button menu-btn" value="go"
                        ng-click="loginPage()"><span
                        class="glyphicon glyphicon-log-in visible-lg"> Log In</span>
                        <span
                                class="glyphicon glyphicon-log-in hidden-lg small-menu-btn"></span>
                </button>
            </li>
            <li ng-show="authenticated" class="col-md-5 no-padding"><span class="glyphicon glyphicon-user top-button hello visible-lg">
                Hi,{{username}}</span>
            </li>
            <li ng-show="authenticated" class="col-md-4 no-padding">
                <button class="btn btn-primary top-button menu-btn"><span
                        class="glyphicon glyphicon-envelope visible-lg"> Homepage</span>
                    <span
                            class="glyphicon glyphicon-envelope hidden-lg small-menu-btn"></span>
                </button>
            </li>
            <li ng-show="authenticated" class="col-md-3 no-padding">
                <button ng-click="loginPage()" class="btn btn-primary top-button menu-btn"
                        value="go"
                        ><span
                        class="glyphicon glyphicon-log-out visible-lg">  Log Out</span>
                        <span
                                class="glyphicon glyphicon-log-out hidden-lg small-menu-btn"></span>
                </button>
            </li>
        </ul>
        <button type="button" class="navbar-toggle small-menu" data-toggle="collapse" data-target="#my_menu" id="bar">
            <span class="sr-only">Открыть навигацию</span>
            <i class="glyphicon glyphicon-align-justify"></i>
        </button>
    </div>
</div>
