<div app-header></div>
<div app-menu-admin></div>

<div id="main-block" class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3">
    <div class="col-md-12 col-sm-12 left-info-col">
        <div>
            <button id="add-empl" class="btn btn-info btn-sm col-md-2" type="button" data-toggle="modal"
                    data-target="#addEmployee">Add
                employee
            </button>
            <label class="col-md-6">Search: <input ng-model="searchText"></label>
            <button id="filter" class="btn btn-info btn-sm col-md-2" type="button" data-toggle="modal"
                    data-target="#filter">Filter
            </button>
            <table class="table table-condensed table-hover col-md-8">
                <thead>
                <tr>
                    <th class="staff-id" custom-sort order="1" sort="sort">ID&nbsp;</th>
                    <th class="staff-name" custom-sort order="5" sort="sort">Name&nbsp;</th>
                    <th class="staff-email" custom-sort order="2" sort="sort">E-mail&nbsp;</th>
                    <th class="staff-role">Role</th>
                    <th class="staff-status">Status</th>
                    <th class="staff-assigned">Assigned students</th>
                    <th class="staff-edit">Edit</th>
                    <th class="staff-delete">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="employee in allEmployee | filter:searchText">
                    <td>{{employee.id}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{roles}}</td>
                    <td>
                        <button ng-click="changeEmployeeStatus(employee)" ng-class="myClass" class="btn btn-info"
                                type="button">btn-danger
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-info" ng-click="showAssigned(employee)" type="button" data-toggle="modal"
                                data-target="#assignedList">Show list
                        </button>
                    </td>
                    <td>
                        <button ng-click="showUserData(employee)" class="btn btn-link" type="button" data-toggle="modal"
                                data-target="#editEmployee">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </td>
                    <td>
                        <button data-toggle="modal"
                                data-target="#deleteEmployee" ng-click="getEmployee(employee)" class="btn btn-danger"
                                type="button">Delete
                        </button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <td colspan="6">
                        <div class="pagination pull-right">
                            <ul>
                                <li ng-class="{disabled: currentPage == 1}">
                                    <a href ng-click="prevPage()">« Prev</a>
                                </li>

                                <li ng-repeat="n in range(amount, currentPage, currentPage + gap) "
                                    ng-class="{active: n == currentPage}"
                                    ng-click="setPage()">
                                    <a href ng-bind="n">1</a>
                                </li>

                                <li ng-class="{disabled: currentPage == amount}">
                                    <a href ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div id="deleteEmployee" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Are you sure?</h4>
                <button ng-click="deleteEmployee(employee)" data-dismiss="modal" class="btn btn-link">Yes</button>
                <button class="btn btn-link" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>

<!-- modal dialog -->
<div id="editEmployee" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span></button>

                <h4 class="modal-title">Edit employee</h4>

                <div>
                    <table class="table">
                        <tr>
                            <td> First Name</td>
                            <td><input type="text" ng-model="firstNameEdit" id="firstNameEdit"></td>
                        </tr>
                        <tr>
                            <td> Second Name</td>
                            <td><input type="text" ng-model="secondNameEdit" id="secondNameEdit"></td>
                        </tr>
                        <tr>
                            <td> Last Name</td>
                            <td><input type="text" ng-model="lastNameEdit" id="lastNameEdit"></td>
                        </tr>
                        <tr>
                            <td> Email</td>
                            <td><input type="text" ng-model="emailEdit" id="emailEdit"></td>
                        </tr>
                        <tr>
                            <td> Role</td>
                            <td>
                                <input type="checkbox" id="techEdit" ng-model="techEdit" value="option1">
                                Tech </input>
                                <input type="checkbox" id="softEdit" ng-model="softEdit" value="option2">
                                Soft </input>
                                <input type="checkbox" id="adminEdit" ng-model="adminEdit" value="option3">
                                Administrator </input>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="editEmployee()" type="button" id="saveChanges"
                        data-dismiss="modal">Save changes
                </button>
            </div>
        </div>

    </div>
</div>

<div id="addEmployee" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">New employee</h4>

                <div>
                    <table class="table">
                        <tr>
                            <td>First Name</td>
                            <td><input ng-model="firstName" type="text"></td>
                        </tr>
                        <tr>
                            <td>Second Name</td>
                            <td><input ng-model="secondName" id="secondName" type="text"></td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td><input ng-model="lastName" id="lastName" type="text"></td>
                        </tr>
                        <tr>
                            <td> Email</td>
                            <td><input ng-model="email" id="email" type="text"></td>
                        </tr>
                        <tr>
                            <td> Role</td>
                            <td>
                                <div ng-repeat="employee in employees">
                                       <input id="{{employee.roleName}}" type="checkbox"
                                              value="{{employee.roleName}}"
                                              ng-click="toggleSelection(employee.roleName)"
                                              ng-checked="selection.indexOf(employee.roleName) > -1"
                                        />
                                       {{employee.roleName}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" id="saveEmployee" type="button" data-dismiss="modal"
                        ng-click="addEmployee()">Add
                </button>
            </div>
        </div>
    </div>
</div>

<div id="assignedList" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Assigned candidates</h4>

                <div>
                    <table class="table">
                        <thead>
                        <th>Name</th>
                        <th>Rated</th>
                        </thead>
                        <tbody>
                        <tr>
                            <!--<td><a href="#">Ilya Muromets</td>-->
                            <td>+</td>
                        </tr>
                        <tr>
                            <!--<td><a href="#">Dobrynya Nikitich</td>-->
                            <td>-</td>
                        </tr>
                        <tr>
                            <!--<td><a href="#">Alyosha Popovich</td>-->
                            <td>+</td>
                        </tr>
                        <tr>
                            <!--<td><a href="#">Svyatogor</td>-->
                            <td>+</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<div app-footer></div>