<div app-header></div>
<div app-second-header></div>
<div app-menu-main></div>
<div id="main-block" class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3 main-text">
    <div class="col-md-12 col-sm-12 left-info-col">
        <div>
            <div class="col-xs-12 col-sm-12 col-lg-6 col-lg-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Authorization</h3>
                    </div>
                    <div class="panel-body" style="min-height: 150px;">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 separator social-login-box"><br/>
                                <a ng-click="facebookLogin()" class="btn facebook btn-block" role="button">Log in
                                    with Facebook</a>
                                <br/>
                                <!--<a href="staffMain.html" class="btn twitter btn-block" role="button">Log in with-->
                                <!--Twitter</a>-->
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 login-box">
                                <div class="col-xs-12 col-sm-12 col-md-12 login-box">
                                    <form name="authForm" role="form">
                                        <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-user"></span></span>
                                            <input ng-model="email" name="userEmail" class="form-control"
                                                   placeholder="Email"
                                                   required ng-minlength="5" ng-maxlength="50"
                                                   autofocus/>

                                        </div>
                                        <span ng-show="authForm.userEmail.$error.required" class="text-danger">The field can not be empty.</span>
                                        <span ng-show="authForm.userEmail.$error.minlength" class="text-danger">Must be at least 5 characters.</span>
                                        <span ng-show="authForm.userEmail.$error.maxlength" class="text-danger">Must be no more than 50 characters.</span>

                                        <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-lock"></span></span>
                                            <input ng-model="password" name="password" type="password"
                                                   class="form-control"
                                                   placeholder="Password" ng-minlength="4" ng-maxlength="16"
                                                   required />
                                        </div>
                                        <span ng-show="authForm.password.$error.required" class="text-danger">The field can not be empty.</span>
                                        <span ng-show="authForm.password.$error.minlength" class="text-danger">Must be at least 4 characters.</span>
                                        <span ng-show="authForm.password.$error.maxlength" class="text-danger">Must be no more than 16 characters.</span>

                                        <div ng-show="errorcredential">
                                            <p class="alert-danger">Wrong email or password</p>
                                        </div>
                                        <!--<div ng-messages="authForm.userEmail.$error">
                                            <div ng-message="email">Your email address is invalid</div>
                                        </div>
                                        </br>
                                        <div ng-messages="authForm.password.$error">
                                            <div ng-message="maxlength">Password must not exceed 16 characters</div>
                                            <div ng-message="minlength">Password must be over 4 characters</div>
                                        </div>-->
                                        <div>
                                            <p class="text-danger" ng-show="authsuccess">Authorisation Error</p>

                                            <div class="col-md-6 col-xs-8">
                                                <a ng-click="recoverPassword()">Forget your password?</a>
                                            </div>
                                            <div class="col-md-6 col-xs-4">
                                                <a ng-click="registration()">Register me</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="min-height: 60px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <button ng-click="login()" type="button" class="btn btn-labeled btn-info btn-lg"
                                        value="go" ng-disabled="authForm.$invalid">
                                    <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Log in
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>