<div class="col-md-2">
    <div id="my_menu" class="collapse navbar-collapse dropdown-menu-left col-md-2 navmenu-fixed-left">
        <div id="left-menu" class="btn-group btn-group-vertical">
            <a ng-click="mainAdmin()" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-home"></i> Main</a>
            <a ng-click="staffManAdmin()" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-user"></i> Staff management</a>
            <a ng-click="studManAdmin()" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-eye-open"></i> Student management</a>
            <a ng-click="shedulAdmin()" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-calendar"></i> Scheduling</a>
            <a ng-click="reportsAdmin()" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-list-alt"></i> Reports</a>

            <div id="firstDropdown" class="dropdown width-all ">
                <a href="#"
                   class="dropdown btn btn-primary menu-btn left-menu-btn dropdown-toggle width-all menu-text"
                   data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i> Settings
                    <b class="caret"></b></a>

                <div class="dropdown-menu navmenu-nav right-col-menu no-padding" role="menu">
                    <a href="adminSettings.html"
                       class="btn btn-primary menu-btn menu-text sub-menu">Forms</a>
                    <a href="adminSettingsRec.html"
                       class="btn btn-primary menu-btn menu-text sub-menu">Recruitment</a>
                    <a href="adminSettingsNot.html"
                       class="btn btn-primary menu-btn menu-text sub-menu">Notifications</a>
                    <a href="adminPersonalSet.html"
                       class="btn btn-primary menu-btn menu-text sub-menu">Personal settings</a>
                </div>
            </div>
        </div>
    </div>
</div>