<div app-header></div>
<div app-menu-student></div>
<div ng-app="questions" id="main-block" class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3">
    <div class="col-md-12 col-sm-12 left-info-col">
        <form name="myForm" data-toggle="validator" role="form">
            <button type="button" ng-if="false" class="btn btn-sm btn-info search-element col-md-2 btn-left" ng-click="exportAppForm()">Export</button>
            <p ng-class="{'text-danger' : resultMessage.type == 'ERROR', 'text-success' : resultMessage.type == 'SUCCESS', 'text-info' : resultMessage.type == 'INFO'}">{{resultMessage.message}}</p>
            <table class="table table-hover table-condensed">
                <tr class="text-success">
                    <td>Status</td>
                    <td>{{status}}</td>
                </tr>
                <tr class="text-success">
                    <td>ID</td>
                    <td ng-model="id">{{id}}</td>
                </tr>
                <tr class="form-group">
                    <td class="mandatory">
                        <label for="file" class="control-label">Photo</label>
                    </td>
                    <td><img src="img/hohol.png" width=100px>
                        <label class="file">
                            <input type="file" ngf-select ng-model="picFile" name="file"
                                   accept="image/*"
                                   ngf-max-size="5MB"
                                   ngf-min-height="400"
                                   ngf-max-height="400"
                                   ngf-max-width="300"
                                   ngf-min-width="300"


                                   required
                                   ngf-model-invalid="errorFile">
                        </label>
                        <i ng-show="myForm.file.$error.required">*required</i><br>
                        <i ng-show="myForm.file.$error.maxSize">Photo too large
                            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                        <i ng-show="myForm.file.$error.maxWidth">Photo width must be 300px</i>
                        <i ng-show="myForm.file.$error.maxHeight">Photo height must be 400px</i>
                        <i ng-show="myForm.file.$error.minHeight">Photo height must be 400px</i>
                        <i ng-show="myForm.file.$error.minWidth">Photo width must be 300px</i>

                        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                    </td>
                </tr>
                <tr class="form-group">
                    <td class="mandatory"><label for="inputLast" class="control-label">Last name</label></td>
                    <td><input ng-model="user.lastName" type="text" id="inputLast"
                               oninvalid="this.setCustomValidity('Please fill out this field')" class="form-control"
                               required/>

                        <div class="help-block with-errors"></div>
                    </td>
                </tr>
                <tr class="form-group">
                    <td class="mandatory"><label for="inputFirst" class="control-label">First name</label></td>
                    <td><input ng-model="user.firstName" type="text" id="inputFirst"
                               oninvalid="this.setCustomValidity('Please fill out this field')" class="form-control"
                               required/>

                        <div class="help-block with-errors"></div>
                    </td>
                </tr>
                <tr class="form-group">
                    <td class="mandatory"><label for="inputSecond" class="control-label">Second name</label></td>
                    <td><input ng-model="user.secondName" type="text" id="inputSecond"
                               oninvalid="this.setCustomValidity('Please fill out this field')" class="form-control"
                               required/>

                        <div class="help-block with-errors"></div>
                    </td>
                </tr>
                <tr class="form-group">
                    <td class="mandatory"><label for="inputEmail" class="control-label">Email</label></td>
                    <td><span type="text" class="input-xlarge uneditable-input" id="inputEmail">{{user.email}}</span>
                    </td>
                </tr>
                <tr ng-repeat="question in questions">
                    <td ng-if="question.isMandatory == true" class="mandatory"> {{question.questionTitle}}</td>
                    <td ng-if="question.isMandatory == false"> {{question.questionTitle}}</td>
                    <td ng-if="question.questionType == 'select'">
                        <select class="form-control" ng-model="question.answers[0].answer">
                            <option ng-repeat="variant in question.variants track by $index"
                                    value="{{variant.variant}}">{{variant.variant}}
                            </option>
                        </select>
                    </td>
                    <td ng-if="question.questionType == 'input'" ng-repeat="answer in question.answers">
                        <input ng-model="answer.answer" ng-model="answer.ID" type="text" value="{{answer.answer}}"
                               class="form-control">
                    </td>
                    <td ng-if="question.questionType == 'checkbox'">
                       <span ng-repeat="variant in question.variants">
                           <p>
                               <input type="checkbox" ng-checked="exists(variant.variant, question.answers)"
                                      ng-click="toggle(variant.variant, question.answers)"> {{variant.variant}}
                           </p>
                       </span>
                    </td>
                    <td ng-if="question.questionType == 'radio'">
                       <span ng-repeat="variant in question.variants track by $index">
                           <p>
                               <input type="radio" ng-model="question.answers[0].answer" name="question.questionTitle"
                                      ng-value="variant.variant"> {{variant.variant}}
                           </p>
                       </span>
                    </td>
                    <td ng-if="question.questionType == 'textarea'" ng-repeat="answer in question.answers">
                        <p>
                            <input ng-model="answer.answer" ng-model="answer.ID" class="form-control" type="text"
                                   value="{{answer.answer}}"> {{variant.variant}}
                        </p>

                    </td>
                </tr>
            </table>
            <div class="form-group">
                <button ng-click="changeUserName(picFile)" type="submit" class="btn btn-sm btn-info search-element">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
<div app-footer></div>