<div app-header></div>
<div app-menu-student></div>
<div id="main-block" class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3">
    <div class="col-md-12 col-sm-12 left-info-col">
        <div>
            <form name="recoverPassword">
                <h3>Change password</h3>
                <div class="row">
                    <input ng-model="oldPassword" type="password" placeholder="old password" name="oldPassword" required ng-minlength="4" ng-maxlength="16" ng-pattern="/^\w+$/"><br>
                    <span ng-show="recoverPassword.oldPassword.$error.required" class="text-danger">The field can not be empty.</span>
                    <span ng-show="recoverPassword.oldPassword.$error.minlength" class="text-danger">Must be at least 4 characters.</span>
                    <span ng-show="recoverPassword.oldPassword.$error.maxlength" class="text-danger">Password should be no more than 16 characters.</span>
                    <span ng-show="recoverPassword.oldPassword.$error.pattern" class="text-danger">Can contain only numbers and letters.</span>
                </div>
                <br>

                <div class="row">
                    <input ng-model="newPassword" type="password" placeholder="new password" name="newPassword" required ng-minlength="4" ng-maxlength="16" ng-pattern="/^\w+$/"><br>
                    <span ng-show="recoverPassword.newPassword.$error.required" class="text-danger">The field can not be empty.</span>
                    <span ng-show="recoverPassword.newPassword.$error.minlength" class="text-danger">Must be at least 4 characters.</span>
                    <span ng-show="recoverPassword.newPassword.$error.maxlength" class="text-danger">Password should be no more than 16 characters.</span>
                    <span ng-show="recoverPassword.newPassword.$error.pattern" class="text-danger">Can contain only numbers and letters.</span>
                </div>
                <br>

                <div class="row">
                    <input ng-model="confirmNewPassword" type="password"  placeholder="confirm new password" name="confirmNewPassword" required ng-minlength="4" ng-maxlength="16" ng-pattern="/^\w+$/"><br>
                    <span ng-show="recoverPassword.confirmNewPassword.$error.required" class="text-danger">The field can not be empty.</span>
                    <span ng-show="recoverPassword.confirmNewPassword.$error.minlength" class="text-danger">Must be at least 4 characters.</span>
                    <span ng-show="recoverPassword.confirmNewPassword.$error.maxlength" class="text-danger">Password should be no more than 16 characters.</span>
                    <span ng-show="recoverPassword.confirmNewPassword.$error.pattern" class="text-danger">Can contain only numbers and letters.</span>
                </div>
                <button type="submit" ng-click="changePassword()" class="btn btn-info search-element btn-left" ng-disabled="recoverPassword.$invalid">Confirm</button>
            </form>
        </div>
    </div>
</div>