<div app-header></div>
<div app-menu-admin></div>
<style>
    ul {
        list-style: square outside;
    }
</style>
<div id="main-block" class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3">
    <div class="col-md-12 col-sm-12 left-info-col">
        <div>
            <label>Search Question: <input ng-model="searchQuestion"></label>
            <ul class="nav nav-tabs">
                <li ng-init="getMandatory()" ng-click="getMandatory()" class="active"><a data-toggle="tab"
                                                                                         data-target="#applic-form1">Application
                    form</a></li>
                <li ng-click="getSoft()"><a data-toggle="tab" data-target="#applic-soft1">Soft form</a></li>
                <li ng-click="getTech()"><a data-toggle="tab" data-target="#applic-tech1">Tech form</a></li>
                <li><a data-toggle="tab" data-target="#matrix">Decision Matrix</a></li>
            </ul>
            <div class="tab-content">
                <div id="applic-form1" class="tab-pane fade in active">
                    <form>
                        <table class="table table-hover table-condensed">
                            <tr>
                                <th>Order</th>
                                <th>Question</th>
                                <th>Type</th>
                                <th>Active</th>
                                <th>Mandatory</th>
                                <th>Answer Variant</th>
                                <th>Edit</th>
                            </tr>
                            <tr ng-repeat="question in questions | filter:searchQuestion">
                                <td>{{question.order}}</td>
                                <td>{{question.title}}</td>
                                <td>{{question.type}}</td>
                                <td>
                                    <button ng-click="changeStatus(question)" ng-class="{'btn btn-success' : question.enable, 'btn btn-danger' : !question.enable}"
                                            type="button">
                                        {{question.enable}}
                                    </button>
                                </td>
                                <td>
                                    <button ng-click="changeMandatoryStatus(question)" ng-class="{'btn btn-success' : question.mandatory, 'btn btn-danger' : !question.mandatory}"
                                            type="button">
                                        {{question.mandatory}}
                                    </button>
                                </td>
                                <td>
                                    <ul ng-repeat="variant in question.variants track by $index ">
                                        <li>{{variant.variant}}</li>
                                    </ul>
                                </td>
                                <td>
                                    <button ng-click="showQuestion(question)" class="btn btn-link" type="button"
                                            data-toggle="modal"
                                            data-target="#editQuestion">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <button class="btn btn-info btn-sm col-md-2 add-question" type="button" data-toggle="modal"
                                data-target="#addQuestion">Add
                            question
                        </button>
                    </form>
                </div>
                <div id="applic-soft1" class="tab-pane fade">
                    <form>
                        <table class="table table-hover table-condensed">
                            <tr>
                                <th>Order</th>
                                <th>Question</th>
                                <th>Type</th>
                                <th>Active</th>
                                <th>Mandatory</th>
                                <th>Answer Variant</th>
                                <th>Edit</th>
                            </tr>
                            <tr ng-repeat="question in questions | filter:searchQuestion">
                                <td>{{question.order}}</td>
                                <td>{{question.title}}</td>
                                <td>{{question.type}}</td>
                                <td>
                                    <button ng-click="changeStatus(question)" ng-class="{'btn btn-success' : question.enable, 'btn btn-danger' : !question.enable}"
                                            type="button">
                                        {{question.enable}}
                                    </button>
                                </td>
                                <td>
                                    <button ng-click="changeMandatoryStatus(question)" ng-class="{'btn btn-success' : question.mandatory, 'btn btn-danger' : !question.mandatory}"
                                            type="button">
                                        {{question.mandatory}}
                                    </button>
                                </td>
                                <td>
                                    <ul ng-repeat="variant in question.variants track by $index ">
                                        <li>{{variant.variant}}</li>
                                    </ul>
                                </td>
                                <td>
                                    <button ng-click="showQuestion(question)" class="btn btn-link" type="button"
                                            data-toggle="modal"
                                            data-target="#editQuestion">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <button class="btn btn-info btn-sm col-md-2 add-question" type="button" data-toggle="modal"
                                data-target="#addQuestion">Add
                            question
                        </button>
                    </form>
                </div>
                <div id="applic-tech1" class="tab-pane fade">
                    <form>
                        <table class="table table-hover table-condensed">
                            <tr>
                                <th>Order</th>
                                <th>Question</th>
                                <th>Type</th>
                                <th>Active</th>
                                <th>Mandatory</th>
                                <th>Answer Variant</th>
                                <th>Edit</th>
                            </tr>
                            <tr ng-repeat="question in questions | filter:searchQuestion">
                                <td>{{question.order}}</td>
                                <td>{{question.title}}</td>
                                <td>{{question.type}}</td>
                                <td>
                                    <button ng-click="changeStatus(question)" ng-class="{'btn btn-success' : question.enable, 'btn btn-danger' : !question.enable}"
                                            type="button">
                                        {{question.enable}}
                                    </button>
                                </td>
                                <td>
                                    <button ng-click="changeMandatoryStatus(question)" ng-class="{'btn btn-success' : question.mandatory, 'btn btn-danger' : !question.mandatory}"
                                            type="button">
                                        {{question.mandatory}}
                                    </button>
                                </td>
                                <td>
                                    <ul ng-repeat="variant in question.variants track by $index ">
                                        <li>{{variant.variant}}</li>
                                    </ul>
                                </td>
                                <td>
                                    <button ng-click="showQuestion(question)" class="btn btn-link" type="button"
                                            data-toggle="modal"
                                            data-target="#editQuestion">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <button class="btn btn-info btn-sm col-md-2 add-question" type="button" data-toggle="modal"
                                data-target="#addQuestion">Add
                            question
                        </button>
                    </form>
                </div>
                <div id="matrix" class="tab-pane fade">
                    <form>
                        <table class="table table-hover table-condensed">
                            <tr>
                              	<th>Tech Skill</th>
                                <th>Soft Skill</th>
                                <th>Result</th>
                            </tr>
                            <tr ng-repeat="decision in decisionMatrix">
                            	<td>{{decision.techMark}}</td>
                            	<td>{{decision.softMark}}</td>
                            	<td><select ng-model="decision.finalMark" ng-options="finalMark for finalMark in finalMarks track by finalMark"></select>
                            	</td>
                            </tr>
                        </table>
                        <button type="submit" ng-click="saveDecisionMatrix()" class="btn btn-info search-element btn-left">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="addQuestion" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span></button>

                <h4 class="modal-title">Add Question</h4>
                <div>
                    <table class="table">
                        <tr>
                            <td> Order</td>
                            <td><input type="text" ng-model="addOrder"></td>
                        </tr>
                        <tr>
                            <td> Text Question</td>
                            <td><input type="text" ng-model="addText"></td>
                        </tr>
                        <tr>
                            <td> Type</td>
                            <td>
                                <select ng-model="mySelect" ng-change="showSelectValue(mySelect)">
                                    <option ng-repeat="type in types">{{type}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> ROLE</td>
                            <td>
                                <select ng-model="myRoleSelect" ng-change="showSelectRoleValue(myRoleSelect)">
                                    <option ng-repeat="role in roles">{{role}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> Active</td>
                            <td>
                                <select ng-model="myActiveSelect" ng-change="showSelectActiveValue(myActiveSelect)">
                                    <option selected>true</option>
                                    <option>false</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> Mandatory</td>
                            <td>
                                <select ng-model="myMandatorySelect"
                                        ng-change="showSelectMandatoryValue(myMandatorySelect)">
                                    <option selected>true</option>
                                    <option>false</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td> Answer variants</td>
                            <td><textarea ng-disabled="canMoveForward" ng-model="addVariant"></textarea></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="saveForm()" type="button"
                        data-dismiss="modal">Save changes
                </button>
            </div>
        </div>

    </div>
</div>

<div id="editQuestion" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span></button>

                <h4 class="modal-title">Edit employee</h4>
                <div>
                    <table class="table">
                        <tr>
                            <td> Order</td>
                            <td><input type="text" ng-model="questionOrder"></td>
                        </tr>
                        <tr>
                            <td> Text</td>
                            <td><input type="text" ng-model="text"></td>
                        </tr>
                        <tr>
                            <td> Type</td>
                            <!--<td><input type="text" ng-model="type"></td>-->
                            <td>
                                <select ng-model="type">
                                    <option ng-repeat="typee in types" ng-checked ="typee==type" value="{{typee}}">{{typee}}</option>
                                </select>
                            </td>
                            <!--<select ng-model="student.status"  ng-change ="changeStatus(student.status,student.appFormId)" >-->
                            <!--<option ng-repeat="stat in student.possibleStatus" ng-checked ="stat.title==student.status" >{{stat.title}}</option>-->
                            <!--</select>-->
                        </tr>
                        <tr>
                            <td> Answer Variant</td>
                            <td><textarea ng-model="editVariant"></textarea></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="editEmployee()" type="button" id="saveChanges"
                        data-dismiss="modal">Save changes
                </button>
            </div>
        </div>

    </div>
</div>
<div app-footer></div>