<div class="col-md-2">
    <div id="my_menu" class="collapse navbar-collapse dropdown-menu-left col-md-2 navmenu-fixed-left">
        <div id="left-menu" class="btn-group btn-group-vertical">
            <a ng-class="getClass('/admin/main')" ng-click="mainAdmin()"
               class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-home"></i> Main</a>
            <a ng-class="getClass('/admin/staffmanagement')" ng-click="staffManAdmin()"
               class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-user"></i> Staff management</a>
            <a ng-class="getClass('/admin/studentmanagement')" ng-click="studManAdmin()"
               class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-eye-open"></i> Student management</a>
            <a ng-class="getClass('/admin/scheduling')" ng-click="shedulAdmin()"
               class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-calendar"></i> Scheduling</a>
            <a ng-class="getClass('/admin/report')" ng-click="reportsAdmin()"
               class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-list-alt"></i> Reports</a>


            <a  ng-if="isExist" ng-class="getClass('/admin/studentManagement')" ng-click="studentManagement()" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-user"></i> Interview </a>
            <a  ng-if="isExist" ng-class="getClass('/admin/staffScheduling')" ng-click="scheduling()" class="btn btn-primary menu-btn left-menu-btn menu-text"><i
                    class="glyphicon glyphicon-calendar"></i> Schedule</a>


            <div id="firstDropdown" class="dropdown width-all ">
                <a class="dropdown btn btn-primary menu-btn left-menu-btn dropdown-toggle width-all menu-text"
                        data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i> Settings
                    <b class="caret"></b></a>

                <div class="dropdown-menu navmenu-nav right-col-menu no-padding" role="menu">
                    <a  ng-class="getClass('/admin/adminformsettings')" ng-click="formSettingsAdmin()"
                       class="btn btn-primary menu-btn menu-text sub-menu">Forms</a>
                    <a ng-class="getClass('/admin/recruitment')" ng-click="recruitmentSettingsAdmin()"
                       class="btn btn-primary menu-btn menu-text sub-menu">Recruitment</a>
                    <a ng-class="getClass('/admin/notification')" ng-click="notificationSettingsAdmin()"
                       class="btn btn-primary menu-btn menu-text sub-menu">Notifications</a>
                    <a ng-class="getClass('/admin/personal')" ng-click="personalSettingsAdmin()"
                       class="btn btn-primary menu-btn menu-text sub-menu">Personal settings</a>
                </div>
            </div>
        </div>
    </div>
</div>