<div app-header></div>
<div app-menu-admin></div>
<div id="main-block" class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3">
    <div class="col-md-12 col-sm-12 left-info-col">
        <div>
            <form>
                <table class="table-cells">
                    <tr>
                        <td>Recruitment name</td>
                        <td>
                            <input ng-model="recruitmentName" class="input" type="text">
                            </br>
                            </br>
                        </td>
                    </tr>
                    <tr>
                        <td>Registration deadline</td>
                        <td>
                            <div class="form-group">
                                <div class="input-group date">
                                    <input datetimepicker  class="form-control" ng-model="date1"
                                           datetime-picker date-format="yyyy-MM-dd HH:mm" />
									<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
									</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Choosing schedule time deadline</td>
                        <td>

                                <div class="input-group">
                                    <input datetimepicker  class="form-control" ng-model="date2"
                                           datetime-picker date-format="yyyy-MM-dd HH:mm"/>
									<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
									</span>
                                </div>

                        </td>
                    </tr>
                    <tr>
                        <td>End of recruitment</td>
                        <td>
                            <div class="form-group">
                                <div class="input-group date">
                                    <input datetimepicker  class="form-control" ng-model="date3"
                                           datetime-picker date-format="yyyy-MM-dd HH:mm"/>
									<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
									</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Number of students to general group</td>
                        <td>
                            <input ng-model="general" class="input-nums" type="text">
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>Number of students to advanced group</td>
                        <td>
                            <input ng-model="advanced" class="input-nums" type="text">
                        </td>
                    </tr>
                </table>
                <button ng-click="save()" type="submit" class="btn btn-sm btn-info search-element col-md-1">Add new
                    Recruitment
                </button>
                <button ng-click="edit()" type="submit" class="btn btn-sm btn-info search-element col-md-1">Edit
                    Recruitment
                </button>
            </form>
        </div>
    </div>
</div>
