<div app-header></div>
<div app-menu-admin></div>

<div id="main-block" class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3">
    <div class="col-md-12 col-sm-12 left-info-col">
        <div>
            <div class="row">
                <div class="col-md-2"><h6><i>Approved to work: {{approvedToWork}}</i></h6></div>
                <div class="col-md-2"><h6><i>Approved to advanced: {{approvedToAdvanced}}</i></h6></div>
                <div class="col-md-2"><h6><i>Approved to general: {{approvedToGeneral}}</i></h6></div>
                <div class="col-md-2"><h6><i>Rejected: {{rejected}}</i></h6></div>
                <label>Search:<input ng-model="searchText"></label>
            </div>
            <div class="col-md-5">
                <tr ng-repeat="student in allStudents">
                    <button type="button" class="btn btn-info btn-sm search-element">Confirm selection</button>
                    <button type="button" class="btn btn-info btn-sm search-element" disabled>Announce results</button>
                </tr>
            </div>

            <form class="form-search inline-display col-md-2 col-md-offset-5">
                <button ng-click="showFiltration()" class="btn btn-sm btn-info search-element" type="button"
                        data-toggle="modal"
                        data-target="#filtration">
                    Filter table
                </button>
            </form>
            <table class="table table-hover" id="students_table">
                <thead>
                <tr>
                    <th class="student-id" custom-sort order="1" sort="sort">ID&nbsp;</th>
                    <th class="student-name" custom-sort order="5" sort="sort">Name&nbsp;</th>
                    <th class="student-status" custom-sort order="2" sort="sort">Status&nbsp;</th>
                    <th class="student-University">University</th>
                    <th class="student-Course">Course</th>
                </tr>

                <tr ng-repeat="student in allStudents | filter:searchText ">
                    <td>{{student.id}}</td>
                    <td>{{student.firstName +" "+ student.lastName}}</td>
                    <td><select>
                        <option selected>{{status.title}}</option>
                        <option ng-repeat="stat in statuses">{{stat.title}}</option>
                    </select>
                    </td>
                    <td>{{university}}</td>
                    <td>{{course}}</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="filtration" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Filtration</h4>

                <div>
                    <p>Choose appropriate parameters:</p>
                </div>
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Field</th>
                        <th>Restriction</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="question in questions"
                        ng-if="question.type == 'checkbox' || question.type == 'radio' || question.type == 'select'">
                        <td>{{question.title}}</td>
                        <td>
                                <span ng-repeat="variant in question.variants track by $index ">
                                    <p>
                                        <input type="checkbox" ng-checked="exists(variant, question)"
                                               ng-click="toggle(variant, question)"> {{variant.variant}}
                                    </p>
                                </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <div class="modal-footer">
            <button class="btn btn-info" type="button" data-dismiss="modal">Filter</button>
        </div>
    </div>
</div>
</div>
<div app-footer></div>