<div app-header></div>
<div app-staff-menu></div>
<div id="main-block" class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3">
    <div class="col-md-12 col-sm-12 left-info-col">
        <div>
            <div class="row">
                <div class="col-md-2">
                    <h4>{{appForm.user.firstName}} {{appForm.user.lastName}}</h4>
                </div>
            </div>

            <h4>Indicator of relevant: (“Relevant”/“Not relevant”/“Hard to answer”)</h4>

            <ul ng-init="tab = 1;showAppForm()" class="nav nav-tabs">
                <li ng-class="{active:tab===1}" class="dropdown active">
                    <a  data-toggle="dropdown" class="dropdown-toggle"  href ng-click="tab = 1">
                        Application Form
                        <b class="caret"></b>
                    </a>
                </li>
                <li ng-show="roleTech" ng-class="{active:tab===2}" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href ng-click="tab = 2; showInterview(2)" >
                        Tech Form
                        <b class="caret"></b>
                    </a>
                </li>

                <li ng-show="roleSoft" ng-class="{active:tab===3}" class="dropdown" >
                    <a data-toggle="dropdown" class="dropdown-toggle" href ng-click="tab = 3; showInterview(5)">
                        Soft Form
                        <b class="caret"></b>
                    </a>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="">
                        Last Forms (if they exists)
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="tab" href="applic-form1">2013</a></li>
                        <li><a data-toggle="tab" href="">2014</a></li>
                        <li><a data-toggle="tab" href="">2015</a></li>
                    </ul>
                </li>

            </ul>
            <div  class="tab-content">
                <div ng-show="tab === 1"  class="tab-pane fade in active">
                    <table class="table table-hover table-condensed">
                        <tr class="text-success">
                            <td>Status</td>
                            <td>{{appForm.status}}</td>
                        </tr>
                        <tr class="text-success">
                            <td>ID</td>
                            <td ng-model="id">{{id}}</td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>{{appForm.user.lastName}}</td>
                        </tr>
                        <tr>
                            <td>Firs name</td>
                            <td>{{appForm.user.firstName}}</td>
                        </tr>
                        <tr>
                            <td>Second name</td>
                            <td>{{appForm.user.secondName}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{appForm.user.email}}</td>
                        </tr>
                        <tr ng-repeat="question in appForm.questions">
                            <td > {{question.questionTitle}}</td>
                            <td ng-if="question.questionType == 'input' || question.questionType == 'textarea' ||
                            question.questionType == 'radio' || question.questionType == 'select'"  ng-repeat="answer in question.answers">
                                {{answer.answer}}
                            </td>
                            <td ng-if="question.questionType == 'checkbox'" >
                                <p ng-repeat="variant in question.variants">
                                    {{variant.variant}}<span ng-if="exists(variant.variant, question.answers)" class="glyphicon glyphicon-ok"></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-sm btn-info search-element col-md-2 btn-left">Export</button>
                </div>
                <div ng-show="tab === 2"  class="tab-pane fade in active">
                    <table class="table table-hover table-condensed">
                        <tr>
                            <td>
                                Mark
                            </td>
                            <td>
                                <select class="form-control" ng-model="interviewTech.mark">
                                    <option ng-selected="interviewTech.mark==1" value=1>1</option>
                                    <option ng-selected="interviewTech.mark==2" value=2>2</option>
                                    <option ng-selected="interviewTech.mark==3" value=3>3</option>
                                </select>
                            </td>
                        </tr>
                        <tr ng-repeat="question in interviewTech.questions">
                            <td ng-if="question.isMandatory == true" class="mandatory"> {{question.questionTitle}}</td>
                            <td ng-if="question.isMandatory == false"> {{question.questionTitle}}</td>
                            <td ng-if="question.questionType == 'select'">
                                <select class="form-control" ng-model="question.answers[0].answer">
                                    <option ng-repeat="variant in question.variants track by $index"
                                            value="{{variant.variant}}">{{variant.variant}}
                                    </option>
                                </select>
                            </td>
                            <td ng-if="question.questionType == 'input'" ng-repeat="answer in question.answers">
                                <input ng-model="answer.answer" ng-model="answer.ID" type="text" value="{{answer.answer}}"
                                       class="form-control">
                            </td>
                            <td ng-if="question.questionType == 'checkbox'">
                       <span ng-repeat="variant in question.variants">
                           <p>
                               <input type="checkbox" ng-checked="exists(variant.variant, question.answers)"
                                      ng-click="toggle(variant.variant, question.answers)"> {{variant.variant}}
                           </p>
                       </span>
                            </td>
                            <td ng-if="question.questionType == 'radio'">
                       <span ng-repeat="variant in question.variants track by $index">
                           <p>
                               <input type="radio" ng-model="question.answers[0].answer" name="question.questionTitle"
                                      ng-value="variant.variant"> {{variant.variant}}
                           </p>
                       </span>
                            </td>
                            <td ng-if="question.questionType == 'textarea'" ng-repeat="answer in question.answers">
                                <p>
                                    <input ng-model="answer.answer" ng-model="answer.ID" class="form-control" type="text"
                                           value="{{answer.answer}}"> {{variant.variant}}
                                </p>

                            </td>
                        </tr>
                    </table>
                    <button  ng-click="submitInter(interviewTech)" type="submit" class="btn btn-sm btn-info search-element col-md-2 btn-left">Submit</button>
                </div>
                <div ng-show="tab === 3"  class="tab-pane fade in active">
                    <table class="table table-hover table-condensed">
                        <tr>
                            <td>
                                Mark
                            </td>
                            <td>
                                <select class="form-control" ng-model="interviewSoft.mark">
                                    <option ng-selected="interviewSoft.mark==1" value=1>1</option>
                                    <option ng-selected="interviewSoft.mark==2" value=2>2</option>
                                    <option ng-selected="interviewSoft.mark==3" value=3>3</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Adequate Mark
                            </td>
                            <td>
                                <p>
                                    <input ng-model="interviewSoft.adequateMark" type="radio" ng-value="true"> Adequate
                                </p>
                                <p>
                                    <input ng-model="interviewSoft.adequateMark" type="radio" ng-value="false"> NonAdequate
                                </p>
                            </td>
                        </tr>
                        <tr ng-repeat="question in interviewSoft.questions">
                            <td ng-if="question.isMandatory == true" class="mandatory"> {{question.questionTitle}}</td>
                            <td ng-if="question.isMandatory == false"> {{question.questionTitle}}</td>
                            <td ng-if="question.questionType == 'select'">
                                <select class="form-control" ng-model="question.answers[0].answer">
                                    <option ng-repeat="variant in question.variants track by $index"
                                            value="{{variant.variant}}">{{variant.variant}}
                                    </option>
                                </select>
                            </td>
                            <td ng-if="question.questionType == 'input'" ng-repeat="answer in question.answers">
                                <input ng-model="answer.answer" ng-model="answer.ID" type="text" value="{{answer.answer}}"
                                       class="form-control">
                            </td>
                            <td ng-if="question.questionType == 'checkbox'">
                       <span ng-repeat="variant in question.variants">
                           <p>
                               <input type="checkbox" ng-checked="exists(variant.variant, question.answers)"
                                      ng-click="toggle(variant.variant, question.answers)"> {{variant.variant}}
                           </p>
                       </span>
                            </td>
                            <td ng-if="question.questionType == 'radio'">
                       <span ng-repeat="variant in question.variants track by $index">
                           <p>
                               <input type="radio" ng-model="question.answers[0].answer" name="question.questionTitle"
                                      ng-value="variant.variant"> {{variant.variant}}
                           </p>
                       </span>
                            </td>
                            <td ng-if="question.questionType == 'textarea'" ng-repeat="answer in question.answers">
                                <p>
                                    <input ng-model="answer.answer" ng-model="answer.ID" class="form-control" type="text"
                                           value="{{answer.answer}}"> {{variant.variant}}
                                </p>

                            </td>
                        </tr>
                    </table>
                    <button  ng-click="submitInter(interviewSoft)" type="submit" class="btn btn-sm btn-info search-element col-md-2 btn-left">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div app-footer></div>