<div app-header></div>
<div app-menu-admin></div>

<div id="main-block" class="col-md-10 col-md-offset-0 col-sm-9 col-sm-offset-3">
    <div class="col-md-12 col-sm-12 left-info-col">
        <div>
            <div class="row">
                <div class="col-md-2"><h6><i>Approved to work: {{approvedToWork}}</i></h6></div>
                <div class="col-md-2"><h6><i>Approved to advanced: {{approvedToAdvanced}}</i></h6></div>
                <div class="col-md-2"><h6><i>Approved to general: {{approvedToGeneral}}</i></h6></div>
                <div class="col-md-2"><h6><i>Rejected: {{rejected}}</i></h6></div>
            </div>
            <div class="row">
                <button type="button"  ng-disabled="!recruitmentStatus.recruitmentExists || recruitmentStatus.scheduleExists" ng-click="confirmSelectionInfo()" class="btn btn-info btn-sm search-element col-md-1" data-toggle="modal" data-target="#confirmSelection">
                    Confirm selection
                </button>
                
                <button type="button" ng-disabled="!recruitmentStatus.recruitmentExists || !recruitmentStatus.scheduleExists" ng-click="announceResults()" class="btn btn-info btn-sm search-element col-md-1">Announce results
                </button>
                <button type="button" ng-disabled="!recruitmentStatus.recruitmentExists || !recruitmentStatus.scheduleExists" ng-click="calculateStatuses()" class="btn btn-info btn-sm search-element col-md-1">Calculate statuses
                </button>
            <button ng-click="showFiltration()" class="btn btn-info btn-sm col-md-1 col-md-offset-7" type="button"
                    data-toggle="modal"
                    data-target="#filtration">
                Filter table
            </button>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 info-text">Show
                    <select ng-model="itemsPerPage">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                    </select>
                    entries
                </div>
                <div class="col-md-5 col-md-offset-2">
                <select ng-model="statusSelect" ng-change="showSelectStatusValue(statusSelect)">
                    <option ng-repeat="st in statusTemp">{{st.title}}</option>
                </select>
                    <button type="button" ng-click="applyStatus()" class="btn btn-sm btn-info search-element">Apply Status to checked</button>
                    </div>
                    <div class="col-md-3 info-text search-block">Search:
                    <input ng-model-options="{ debounce: 1000 }"
                           ng-model="studentName" ng-change="searchStudent(studentName)">
                    </div>
                    </div>
                </div>
            <table class="table table-condensed table-hover col-md-8">
                <thead class="table-head">
                <tr><th class ='student-check' custom-sort><span class="glyphicon glyphicon-ok">
                    <input type="checkbox" ng-model="allSelected" ng-click="checkAll()" ng-model-options="{getterSetter: true}"></span>&nbsp;</th>
                    <th class="student-id" custom-sort-stud order="1" sort="sort">ID&nbsp;</th>
                    <th class="student-name" custom-sort-stud order="2" sort="sort">Name&nbsp;</th>
                    <th class="student-status">Status</th>
                    <th class="student-softMark">Soft Mark</th>
                    <th class="student-techMark">Tech Mark</th>
                    <th class="student-techMark">Final Mark</th>
                </thead>
                <tbody>
                <tr ng-repeat="student in allStudents">
                    <td><input type="checkbox" ng-click="checkStudentStatus(student)"  ng-model="student.Selected"></td>
                    <td><a href="index.html#/admin/studentform/{{student.id}}">{{student.appFormId}}</a></td>
                    <td>{{student.firstName +" "+ student.lastName}}</td>
                    <td>
                        <select ng-model="student.status" ng-change="changeStatus(student.status,student.appFormId)">
                            <option ng-repeat="stat in student.possibleStatus" ng-checked="stat.title==student.status">{{stat.title}}</option> <!--Don`t touch This  !!!!! -->
                        </select> </td>
                    <td>{{student.softMark}}</td>
                    <td>{{student.techMark}}</td>
                    <td>{{student.finalMark}}</td>
                </tr>
                </tbody>
                <tfoot>
                <td colspan="6">
                    <div class="pagination pull-right">
                        <ul>
                            <li ng-class="{disabled: currentPage == 1}">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>

                            <li ng-repeat="n in range(amount, currentPage, currentPage + gap) "
                                ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                <a href ng-bind="n">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == amount}">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
                </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div id="filtration" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title">Filtration</h4>

                <div>
                    <p>Choose appropriate parameters:</p>
                </div>
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Field</th>
                        <th>Restriction</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Status
                        </td>
                        <td>
                            <span ng-repeat="st in statusTemp track by $index">
                                <p>
                                    <input type="checkbox" ng-checked="existsItem(st, statusesChoosen)"
                                           ng-click="toggleItem(st, statusesChoosen)">{{st.title}}
                                </p>
                            </span>
                        </td>
                    </tr>
                    <tr ng-repeat="question in questions">
                        <td>{{question.title}}</td>
                        <td>
                                <span ng-repeat="variant in question.variants track by $index ">
                                    <p>
                                        <input type="checkbox" ng-checked="exists(variant, question)"
                                               ng-click="toggle(variant, question)"> {{variant.variant}}
                                    </p>
                                </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" type="button" data-dismiss="modal" ng-click="filter()">Filter</button>
            </div>
        </div>
    </div>
</div>
<div id="confirmSelection" class="modal fade">
<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<h4 class="modal-title">Confirming selection</h4></div>
				<div class="modal-body">
				 	<h2>Confirm selection of {{approved}} students.</h2>
				 	<h3>You have chosen next time points in schedule:</h3>
				 	<div style="padding-left:50px">
				 	<ul>
				 	<li  ng-repeat="timePoint in timePoints">{{timePoint.timePoint | date:'yyyy-MM-dd HH:mm'}}</li>
				 	</ul></div>
					<button type="button"
						ng-disabled="!recruitmentStatus.recruitmentExists || recruitmentStatus.scheduleExists"
						ng-click="confirmSelection()"
						class="btn btn-info btn-sm search-element">
						Confirm</button>
				</div>
			
		</div>
	</div>
</div>

<div app-footer></div>